<h1>TechMahindra Exam</h1>
<

In [1]:
import sklearn
import numpy as np
import pandas as pd
import re

In [2]:
# extract data to dataframe
# train
train = pd.read_csv('train.csv')

# test
test_tweets = pd.read_csv('test_tweets.csv')

In [3]:
test_tweets.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

<h1>Check Values</h>

In [4]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
sum(train.label == 0)

29720

In [6]:
sum(train.label == 1)

2242

In [7]:
train.isnull().any()

id       False
label    False
tweet    False
dtype: bool

<h1>Data Cleaning</h1>

In [8]:
# data cleaning

def cleanTxt(text):
    text = re.sub(r'@[A-Za-z0-9]+','', text)
    text = re.sub(r'#','', text)
    text = re.sub(r'RT[\s]+','', text)
    text = re.sub(r'https:?\/\/\s+','', text)
    
    return text
    

train['clean_tweet'] = train['tweet'].apply(cleanTxt)
train.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can't use cause the...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...
4,5,0,factsguide: society now #motivation,factsguide: society now motivation

<h1>Test and Train Split</h1>

In [15]:
from sklearn.model_selection import train_test_split

# extract the labels
y = train.label.values

x_train, x_test, y_train, y_test = train_test_split(train.clean_tweet.values, y,
                                                   stratify=y,
                                                   random_state=1,
                                                   test_size=0.3, shuffle=True)

<h1>Apply CountVectorizer</h1>

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(binary=True, stop_words='english')

# learn vocabulary dictionary in the raw docs
vectorizer.fit(list(x_train) + list (x_test))

# transform to matrix
x_train_vec = vectorizer.transform(x_train)
x_test_vec = vectorizer.transform(x_test)

In [ ]:
from sklearn import svm

# classify using support vector classifier
svm = svm.SVC(kernel='linear', probability=True)

# fit the model based on training data
prob = svm.fit(x_train_vec, y_train).predict_proba(x_test_vec)

# classification and prediction on test_set
y_pred_svm = svm.predict(x_test_vec)

<h1>Show Model Accuracy</h1>

In [13]:
from sklearn.metrics import accuracy_score
print("Accuracy: ", accuracy_score(y_test,y_pred_svm) * 100,"%")

NameError: name 'y_pred_svm' is not defined